.button-area {
  justify-items: center;
}

.button-area_start {
  background-color: rgb(17, 124, 119);
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  width: 60px;
}

.button-area_break {
  background-color: rgb(17, 124, 119);
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  width: 60px;
}

.button-area_reset {
  background-color: rgb(17, 124, 119);
  border-radius: 5px;
  padding: 5px;
  width: 60px;
}
