.time-left {
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.time-left__title {
  margin: 0;
  margin-top: 2rem;
}
.time-left__seconds {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 1rem;
}
