.time-input {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#time-input {
  width: 200px;
  font-size: 1.5rem;
  text-align: center;
}
