#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.t-4 {
  font-size: 2rem;
}

.t-1 {
  font-size: 3.2rem;
}

.bold {
  font-weight: bold;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.input {
  border: solid 1px #ccc;
  padding: 0.25;
  font-size: 1rem;
  border-radius: 4px;
}
